:root {
  --gray-txt: #dde;
  --alien-color: #acf0ff;
  --semantic-bg: rgba(0, 33, 48, 0.9);
  --focus-txt: rgb(87, 214, 231);
  --head-txt: rgba(0, 163, 163, 0.555);
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  text-align: center;
  min-width: 300px;
  opacity: 0.9;
  padding: 0 50px 0 50px;
  background-image: url("./img/foggy-forest.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--gray-txt);
  height: 100%;
  letter-spacing: 2px;
}

#app {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

#navi {
  font-family: Helvetica, Georgia, serif;
  font-size: 0.6rem;
  letter-spacing: 3px;
  font-variant: small-caps;
  color: var(--gray-txt);
  font-weight: 400;
  text-shadow: 0px 0px 6px rgb(0, 19, 27);
  background-color: var(--semantic-bg);
  padding: 2px;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  user-select: none;
  z-index: 9;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
}

a {
  font-weight: 600;
  color: var(--alien-color);
  text-decoration: none;
}

a:hover {
  color: var(--focus-txt);
  opacity: 0.6;
}

#broken-pxl {
  background-color: #00ff22;
  width: 1px;
  height: 1px;
  margin: 1px;
  position: fixed;
  box-shadow: 0 0 3px #27ae60;
  top: 100px;
  left: 60px;
  z-index: 3000;
  cursor: crosshair;
}

#broken-pxl2 {
  background-color: #00ff22;
  width: 1px;
  height: 1px;
  margin: 1px;
  position: fixed;
  box-shadow: 0 0 3px #27ae60;
  top: 120px;
  left: 80px;
  z-index: 3000;
  cursor: crosshair;
}

#broken-pxl3 {
  background-color: #00ff22;
  width: 1px;
  height: 1px;
  margin: 1spx;
  position: fixed;
  box-shadow: 0 0 3px #27ae60;
  top: 10px;
  left: 40px;
  z-index: 3000;
  cursor: crosshair;
}

#header {
  font-family: Helvetica, Georgia, serif;
  font-size: 2rem;
  letter-spacing: 20px;
  margin-top: 40px;
  word-spacing: 2px;
  color: rgb(0, 129, 129);
  font-weight: 600;
  text-decoration: underline overline solid rgb(0, 129, 129);
  font-variant: small-caps;
  user-select: none;
  transition-property: color;
  transition-duration: 1000ms;
  transition-delay: 5ms;
}

#header:hover {
  color: var(--head-txt);
  text-decoration: underline overline solid var(--head-txt);
  transition-property: color;
  transition-duration: 1500ms;
  transition-delay: 5ms;
}

.thermal {
  color: #8a0303 !important;
  text-shadow: 1px 1px 0 #f67e00, 1px 0 1px #f6f300;
  text-decoration: none !important;
  font-family: "Predator" !important;
}

input, a {
    cursor: url("./assets/Pred.cur"), crosshair;
}

.res,
.input-cont label {
  font-size: 1rem;
  letter-spacing: 3px;
  color: var(--alien-color);
  font-weight: 500;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-top: 10px;
}

label {
  user-select: none;
}

.convert {
  box-sizing: border-box;
  text-align: left;
  display: inline-grid;
  border-radius: 30px;
  box-shadow: 1px 1px 4px rgb(0, 27, 14), 3px 3px 6px rgb(0, 27, 11);
  background: rgba(0, 50, 73, 0.8);
  padding: 20px 30px;
  margin: 15px;
  transform: translateY(0px) scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  transition-delay: 5ms;
}

.convert:hover {
  background: rgba(0, 50, 73, 0.7);
  transform: translateY(-3px) scale(1.1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-delay: 5ms;
}

.input-cont {
  position: relative;
  margin-bottom: 25px;
}

.input-cont input {
  border: 0;
  border-bottom: 2px solid var(--alien-color);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: var(--alien-color);
}

.input-cont input:focus {
  border: none;
  outline: none;
  color: var(--focus-txt);
  text-shadow: 0 0 3px #0a343d, 0 0 1px rgb(255, 255, 255);
  border-bottom: 2px solid var(--focus-txt);
}

footer {
  font-size: 0.5rem;
  color: var(--gray-txt);
  text-shadow: 0px 0px 6px rgb(0, 19, 27);
  background-color: var(--semantic-bg);
  padding: 2px;
  margin: 0;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: 0.5%;
  width: 11px;
  height: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: url("./assets/Pred.cur"), crosshair;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(76, 111, 129, 0.89);
  transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: var(--gray-txt);
  opacity: 0.8;
  transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--head-txt);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--head-txt);
}

input:checked + .slider:before {
  transform: translateX(5px);
}

@media only screen and (max-width: 800px) {
  #app {
    grid-template-columns: auto;
  }
  #header {
    font-size: 1.8rem;
    letter-spacing: 12px;
  }
  ul {
    margin: 0 70px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }
  #app {
    grid-gap: 2px;
    padding: 0 10px 0 10px;
  }
  #navi {
    letter-spacing: 2px;
  }

  #header {
    font-family: Predator, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 10px;
    color: var(--semantic-bg);
    text-decoration: none;
  }

  #header:hover {
    color: #8a0303;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1500ms;
    transition-delay: 5ms;
  }
  ul {
    margin: 5px 40px;
  }
  .switch {
    margin-right: 2%;
    width: 20px;
    height: 8px;
  }
  .slider:before {
    height: 8px;
    width: 8px;
  }
  input:checked + .slider:before {
    transform: translateX(12px);
  }
}

@media only screen and (max-width: 430px) {
  body {
    padding: 0;
  }
  ul {
    margin: 6px 10px;
  }
  li {
    font-size: 0.5rem;
  }
}

@font-face {
  font-family: "Predator";
  src: url("./assets/invisibl.ttf") format("truetype");
}

@keyframes glow {
  0% {
    box-shadow: inset 0 0 0 #fff;
  }

  50% {
    box-shadow: inset 0 0 40px #fff, inset 0 0 100px #fff,
      inset 0 0 150px var(--alien-color), inset 0 0 200px var(--focus-txt),
      inset 0 0 250px var(--focus-txt), inset 0 0 300px var(--focus-txt),
      inset 0 0 350px var(--alien-color), 0 0 40px #fff,  0 0 100px #fff,
      0 0 150px var(--alien-color),  0 0 200px var(--focus-txt),
      0 0 250px var(--focus-txt),  0 0 300px var(--focus-txt),
      0 0 350px var(--alien-color);
  }

  100% {
    box-shadow: inset 0 0 0 #fff;
  }
}
